/* Shopping List Title */

.intro{
	text-align: center;
	background-color: #FFFCE9;
	padding-bottom: 2%;
}

.list-pic{
	margin-top: 4%;
}

h1, p{
	font-family: 'Comfortaa', cursive;

}



/*Instuctionw*/
.instructions{
	text-align: center;
	padding-top: 2%;
	font-family: 'Comfortaa', cursive;

}

/*Input*/



.input-group{
	width: 30%;
	border-radius: 7px;
	margin: 0 auto;
}

input{
	font-family: 'Comfortaa', cursive;
	text-align: center;

}

/*Shopping List*/
.shopping-list{
	text-align: center;
	
}

.shopping-list li{
	list-style-type: none;
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	color: #FFA62F;

}

.fa-minus{
	margin-right: .5em;
	margin-top: .2em;

}

.fa-check{
	margin-left: .5em;
}


/*Toggle Class Css*/

.underline{
	text-decoration: line-through;
}


/*Reset Button*/

#clear-button{
	margin-top: 2%;
	position: relative;
	left: 43%;
	background-color: papayawhip;
	font-family: 'Comfortaa', cursive;


}


